<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@192.168.3.32:1521:TrustAfis</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
      <mapping class="com.aratek.model.Tas1To1VerifyResultEntity"/>
      <mapping class="com.aratek.model.TasDuplicateDetailEntity"/>
      <mapping class="com.aratek.model.TasDuplicateResultEntity"/>
      <mapping class="com.aratek.model.TasExportTemplateEntity"/>
      <mapping class="com.aratek.model.TasFpimageEntity"/>
      <mapping class="com.aratek.model.TasFpimageDetailEntity"/>
      <mapping class="com.aratek.model.TasFpExchageFileEntity"/>
      <mapping class="com.aratek.model.TasFpNodeEntity"/>
      <mapping class="com.aratek.model.TasFpTemplateEntity"/>
      <mapping class="com.aratek.model.TasFpTpBufferEntity"/>
      <mapping class="com.aratek.model.TasFpVerifyLogEntity"/>
      <mapping class="com.aratek.model.TasImportImgEntity"/>
      <mapping class="com.aratek.model.TasLoginEntity"/>
      <mapping class="com.aratek.model.TasLogBusinessEntity"/>
      <mapping class="com.aratek.model.TasLogSystemEntity"/>
      <mapping class="com.aratek.model.TasMonEnvStatisticEntity"/>
      <mapping class="com.aratek.model.TasMonServiceStatisticEntity"/>
      <mapping class="com.aratek.model.TasPersonEntity"/>
      <mapping class="com.aratek.model.TasReportHomeEntity"/>
      <mapping class="com.aratek.model.TasSysCodeEntity"/>
      <mapping class="com.aratek.model.TasSysManagerEntity"/>
      <mapping class="com.aratek.model.TasSysPageEntity"/>
      <mapping class="com.aratek.model.TasSysRoleEntity"/>
      <mapping class="com.aratek.model.TasSysSettingEntity"/>
      <mapping class="com.aratek.model.TasTaskEntity"/>
      <mapping class="com.aratek.model.TasX2NIdentifyDetailEntity"/>
      <mapping class="com.aratek.model.TasX2NIdentifyResultEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>